*{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}


#question {
    font-size: 28px;
}

#questionspace button {
    background-color: purple;
    color:white;
    font-size: 18px;
    margin: 10px 37%;
    display:flex;
}